<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847480478175-he2jcrudg3ag94rp6sftct17mavjon1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847480478175-he2jcrudg3ag94rp6sftct17mavjon1e</string>
	<key>API_KEY</key>
	<string>AIzaSyCEDxo2N85Wts47drDqbe78nb_9a4HZmmY</string>
	<key>GCM_SENDER_ID</key>
	<string>847480478175</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.petoteco.app</string>
	<key>PROJECT_ID</key>
	<string>petoteco-5e807</string>
	<key>STORAGE_BUCKET</key>
	<string>petoteco-5e807.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847480478175:ios:3b3fdda19ce008cf45cc6a</string>
</dict>
</plist>